<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- nav bar -->
    <nav>
        <br>
        <div style="margin-left: 20px;">
            <a class="ui blue button" href="/">Home</a>
            <a class="ui blue button" href="/products">Products</a>
            <a class="ui blue button" href="/customers">Customers</a>
            <a class="ui blue button" href="/orders">Orders</a>
            <a class="ui blue button" href="/payment_details">Payment Details</a>
        </div>
    </nav>
    <!-- nav bar -->
    <!-- Semantic import -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
        <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>
    <!-- Semantic import -->
</head>

<body style="background-color: #b7b7bd;">
    <div>
        <h1 class="ui center aligned header">Customers</h1>
    </div>

    {% for customer in cust_list %}
    <div style="background-color: #aeaeb4;" class="ui segment"></div>
    <div style="font-size: 20px;">
        <p style="margin-left: 50px;">Customer ID: {{ customer.id }} | First Name: {{ customer.f_name }} | Surname: {{ customer.l_name }} | Email: {{ customer.email }} | Address: {{ customer.address }} | Post code: {{ customer.postcode }} | Phone {{ customer.phone }}</p>
    </div>
    <br>
    <div>
        <a style="margin-left: 50px;" class="ui red button" href="/delete_cust/{{ customer.id }}">Delete</a>
    {% endfor %}
    </div>

    <div style="background-color: #aeaeb4;" class="ui segment"></div>
    <div style="margin-left: 20px;">
    <form action="/add_cust" method="post">
        <div>
            <h2>Add customers:</h2>
            <input type="text" name="f_name" placeholder="Enter first name...">
            <p>First name</p>
            <input type="text" name="l_name" placeholder="Enter surname...">
            <p>Surname</p>
            <input type="text" name="email" placeholder="Enter email...">
            <p>E-mail</p>
            <input type="text" name="address" placeholder="Enter address...">
            <p>Address line 1</p>
            <input type="text" name="postcode" placeholder="Enter post code...">
            <p>Post Code</p>
            <input type="text" name="phone" placeholder="Enter phone...">
            <p>Phone number</p>
            <button class="ui blue button" type="submit">Add</button>
        </div>
    </form>
    </div>
    
</body>
</html>