<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- nav bar -->
    <nav>
        <br>
        <div style="margin-left: 20px;">
            <a class="ui blue button" href="/">Home</a>
            <a class="ui blue button" href="/products">Products</a>
            <a class="ui blue button" href="/customers">Customers</a>
            <a class="ui blue button" href="/orders">Orders</a>
            <a class="ui blue button" href="/payment_details">Payment Details</a>
        </div>
    </nav>
    <!-- nav bar -->
    <!-- Semantic import -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
        <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>
    <!-- Semantic import -->
</head>

<body style="background-color: #b7b7bd;">
    <br>
    <br>
    <br>
    <br>
    <div>
        <p style="font-size: 25px;" class="ui center aligned header">Welcome to</p>
        <div style="font-size: 80px;" class="ui center aligned header">QA Games Shop</div>
        <p style="font-size: 25px;" class="ui center aligned header">Please use the above navigation bar</p>
    </div>
</body>

</html>