<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- nav bar -->
    <nav>
        <br>
        <div>
            <a href="/">Home</a>
            <a href="/products">Products</a>
            <a href="/customers">Customers</a>
            <a href="/orders">Orders</a>
            <a href="/payment_details">Payment Details</a>
        </div>
    </nav>
    <!-- nav bar -->
</head>
<body>
    <div>
    <h1>Customers</h1>
    </div>
    {% for customer in cust_list %}
    <div>
        <p>{{ customer.id }}) First Name:  {{ customer.f_name }} Surname: {{ customer.l_name }} Email: {{ customer.email }} Address: {{ customer.address }} Post code: {{ customer.postcode }} Phone {{ customer.phone }}</p>
    <div>
    <a href="/delete_cust/{{ customer.id }}">Delete</a>
    {% endfor %}
    </div>
    <form action="/add_cust" method="post">
        <div>
            <h2>Add customers:</h2>
            <input type="text" name="f_name" placeholder="Enter first name...">
            <input type="text" name="l_name" placeholder="Enter surname...">
            <input type="text" name="email" placeholder="Enter email...">
            <input type="text" name="address" placeholder="Enter address...">
            <input type="text" name="postcode" placeholder="Enter post code...">
            <input type="text" name="phone" placeholder="Enter phone...">
            <br>
            <button type="submit">Add</button>
        </div>
    </form>
</body>
</html>