<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- nav bar -->
    <nav>
        <br>
        <div>
            <a href="/">Home</a>
            <a href="/products">Products</a>
            <a href="/customers">Customers</a>
            <a href="/orders">Orders</a>
            <a href="/payment_details">Payment Details</a>
        </div>
    </nav>
    <!-- nav bar -->
</head>
<body>
    <div>
        <p>Welcome to</p>
        <h1>Games Shop</h1>
        <p>Please use the above navigation bar</p>
    </div>
</body>
</html>